.vscode/
.cache/
yarn-error.log

src/theme/cache/
node_modules/
dist/

.vitepress/dist
.vitepress/cache

docs/.vitepress/dist
docs/.vitepress/cache


.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
