@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 90vh;
	/* background: #000; */
}
.black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
nav {
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 1000;
	background: #fff;
	justify-content: space-around;
	transition: 1.5s;
	align-items: center;
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li {
	list-style: none;
	margin: 5px 10px;
}
nav ul li a {
	padding: 12px 14px;
	color: #2e2e2e;
	cursor: pointer;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background: #DF2771;
}
.active {
	color: #fff;
	border-radius: 5px;
	background: #DF2771;
}
.srch {
	padding: 10px 10px;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	/* background: #0066ff; */
}
.srch img {
	width: 25px;
	cursor: pointer;
}
.srch .search {
	/* padding: 2px 10px; */
	outline: none;
	border: none;
	background: transparent;
}

.btn55 {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn55:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn55:active {
    color: #000
}

.btn55:active:after {
    background: transparent;
}

.btn55:hover:before {
    opacity: 1;
}

.btn55:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.get-started {
	margin-left: 50px;
	padding: 15px 20px;
	border: 2px solid #DF2771;
	border-radius: 20px;
	text-decoration: none;
	
	transition: .5s;
	background-color: #DF2771;
	color: #fff;
}
.get-started:hover {
	color: #2e2e2e;
	background: #fff;
}
.logo img{
	width: 120px;
	cursor: pointer;
	transition: all 1s;
}

a, button {
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #2E3D49;
	display: block;
	text-decoration: none;
	text-align: center;
}
.head-container {
	margin-top: 245px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.quote {
	width: 600px;
	transform: translateY(-50px);
}
.quote h5 {
	margin-top: 20px;
	color: #0009;
	line-height: 20px;
}
.quote p {
	font-size: 50px;
	color: #2e2e2e;
}
.quote .play {
	margin-top: 20px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.quote .play img {
	width: 45px;
	cursor: pointer;
	filter: drop-shadow(0 0 10px #0002);
}
.quote .play span a{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.svg-image img{
	width: 500px;
	filter: drop-shadow(0 20px 10px rgba(0,0,0,0.2));
}

/* SIDE MENU */
.menu {
	cursor: pointer;
	width: 25px;
	display: none;
}
.side-menu {
	width: 100%;
	height: 100%;
	background: rgba(182, 33, 90, 0.993);
	position: absolute;
	top: 0;
	transform: translateX(-100%);
	transition: .8s;
	z-index: 2000;
}
.side-menu ul {
	margin-top: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background: #FA4B37; */
}
.side-menu ul li {
	list-style: none;
	/* background: #009900; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-bottom: 1px solid #fff; */
	/* padding: 10px 0px; */
}
.side-menu ul li:hover a{
	background: #fff;
	color: #DF2771;
}
.side-menu ul li a{
	color: #FFF;
	width: 100%;
	font-size: 1em;
	/* background: #2E3D49; */
	text-decoration: none;
	padding: 15px 0px;
}
.close img{
	float: right;
	width: 35px;
	cursor: pointer;
	margin: 10px;
}
.user {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}
.user img {
	width: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	filter: drop-shadow(0 10px 20px #0004);
	margin-right: 30px;
	cursor: pointer;
}
.user p {
	color: #fff;
	cursor: pointer;
}
.user img, .user p {
	opacity: 1;
}
/*Common things in all sections*/
#about_section, #portfolio_section, #team_section, #services_section, #contactus_section {
	font-family: 'Open Sans', sans-serif;
	color: #2E3D49;
	position: relative;
}
.diffSection {
	width: 100%;
	/*position: relative;*/
	justify-content: center;
	align-items: center;
}
.diffSection .content {
	margin: 10px;
	text-align: center;
	padding: 10px 100px;
	font-size: 1.1em;
}

/*PORTFOLIO*/
.extra {
	width: 100%;
}
.extra p {
	padding: 30px;
	padding-bottom: 150px;
	font-size: 50px;
	text-align: center;
	color: #fff;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("../images/extra/b1.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: cursive;
	z-index: -9;
}
.smbox {
	display: flex;
	flex-wrap: wrap;
	transform: translateY(-100px);
	justify-content: center;
}
.smbox span {
	margin: 1%;
	background: #fff;
	box-shadow: inset 0px 0px 25px rgba(0,0,0,0.2),
						0 0 40px rgba(0,0,0,0.3);
	border-radius: 10px;
	padding: 30px 50px;
	cursor: pointer;
}
.smbox span:hover {
	transform: scale(1.3);
	transition: .5s ease;
}
.smbox .data {
	font-size: 80px;
	color: #FA6146;	
}
.smbox .det {
	font-size: 20px;
	color: #272529;
	font-family: cursive;
}

/*Title*/
.title {
	 margin-top: 0px; 
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #2E3D49;
}

/*ABOUT*/
.about-content {
	width: 100%;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
}
.about-content .side-text {
	width: 550px;
	padding: 50px 40px;
	background: #fff;
	box-shadow: 2px 0 100px rgba(0,0,0,0.3);
	border-radius: 5px;
	text-align: justify;
	line-height: 22px;
	opacity: 0;
	transform: translateX(-100px);
	transition: 1s ease-in-out;
}
.about-content .side-text-appear {
	opacity: 1;
	transform: translateX(0px);
}
.about-content .side-text h2 {
	padding: 10px;
}
.about-content .side-text p {
	padding: 10px;
}
.about-content .side-image img {
	width: 90%;
	border-radius: 5px;
}
.sideImage {
	transform: translateX(100px);
	opacity: 0;
	transition: .8s ease-in-out;
}
.sideImage-appear {
	opacity: 1;
	transform: translateX(0px);
}

/*POPULAR SUBJECTS*/
.cbox {
	position: relative;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cbox .det {
	width: 250px;
	height: 80px;
	margin: 10px;
	background: #fff;
	cursor: pointer;
}
.cbox .det a{
	justify-content: space-around;
	width: 250px;
	padding: 28px;
	border-radius: 10px;
	border: 1px solid #FA4B37;
	font-size: 15px;
	color: #272529;
	font-family: cursive;
	text-decoration: none;
}
.cbox .det a:hover {
	background: linear-gradient(to right, #FA4B37, #DF2771);
	color: white;
}
.cbox .det a:hover img{
	filter: brightness(100);
}
.cbox img {
	width: 20px;
	margin-right: 20px;
}

/*TEAM SECTION*/
.totalcard {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.totalcard .card {
	margin: 50px;
	width: 300px;
	border-radius: 10px;
	background: #fff;
}
.totalcard .card{
	box-shadow: inset 0 0 10px rgba(0,0,0,0.4),
					0 0 10px rgba(0,0,0,0.3);
}
.card:nth-child(1){
	border-top: 5px solid green;
}
.card:nth-child(2){
	border-top: 5px solid blue;
}
.card:nth-child(3){
	border-top: 5px solid purple;
}
.card:nth-child(4){
	border-top: 5px solid red;
}
.card:nth-child(5){
	border-top: 5px solid yellow;
}
.card:nth-child(6){
	border-top: 5px solid pink;
}
.card:nth-child(1):hover {
	box-shadow: inset 0px 0px 10px rgba(0,255,0,0.5),
				1px 1px 30px rgba(0,255,0,0.5);
}
.card:nth-child(2):hover {
	box-shadow: inset 0px 0px 10px rgba(9, 44, 202, 0.5),
				1px 1px 30px rgba(9, 44, 202, 0.5);
}
.card:nth-child(3):hover {
	box-shadow: inset 0px 0px 10px rgba(125, 9, 202, 0.5),
				1px 1px 30px rgba(125, 9, 202, 0.5);
}
.card:nth-child(4):hover {
	box-shadow: inset 0px 0px 10px rgba(225, 9, 9, 0.5),
				1px 1px 30px rgba(225, 9, 9, 0.5);
}
.card:nth-child(5):hover {
	box-shadow: inset 0px 0px 10px rgba(239, 239, 16, 0.5),
				1px 1px 30px rgba(239, 239, 16, 0.5);
}
.card:nth-child(6):hover {
	box-shadow: inset 0px 0px 10px rgba(211, 74, 182, 0.5),
				1px 1px 30px rgba(211, 74, 182, 0.5);
}
.totalcard .card img {
	width: 100px;
	height: 100px;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 50px;
	transition-duration: .8s;
}
.totalcard .card img:hover {
	transform: scale(3.5);
	border-radius: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#detail p{
	font-size: 15px;
	line-height: 25px;
	font-variant: small-caps;
	text-align: center;
	margin: 25px;
	margin-bottom: 0px;
	margin-top: 0px;
}
#detail button {
	outline: none;
	border-radius: 10px;
	border-style: none;
	border: 1px solid black;
	padding: 9px 25px;
	cursor: pointer;
	transition-duration: .4s;
}
#detail a {
	bottom: 80px;
	text-decoration: none;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 90px;
	align-self: center;
}
.btn-praveen:hover {
	background: rgba(0,255,0,0.7);
	color: #fff;
}
.btn-dev:hover {
	background: rgba(0,0,255,0.7);
	color: #fff;
}
.btn-akshaj:hover {
	background: rgba(140, 10, 215, 0.7);
	color: #fff;
}
.btn-nimesh:hover {
	background: rgba(216, 9, 6, 0.7);
	color: #fff;
}
.btn-krishna:hover {
	background: rgba(215, 212, 13, 0.7);
	color: #fff;
}
.btn-manish:hover {
	background: rgba(235, 42, 238, 0.7);
	color: #fff;
}
.card-title {
	font-size: 17px;
	color: #343A40;
	padding: 20px;
	font-weight: 700;
}


/*FOOTER*/
footer {
	color: #E5E8EF;
	background: #000D;
	padding: 50px 0; 
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
footer .social-media img{
	width: 22px;
}
footer .logo {
	width: 180px;
	color: #fff;
}
footer .social-media a{
	margin-right: 10px;
	font-size: 22px;
	text-decoration: none;
}
footer .right-col h1{
	font-size: 26px;
}
footer .border{
	width: 100px;
	height: 4px;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	margin: 2px;
}
footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer input::placeholder {
  color: white !important;
}
footer .txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #343A40;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	min-width: 260px;
	margin-top: 20px;
	color: white;
}
footer .btn {
	margin-top: 20px;
	padding: 18px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
	opacity: .7;
}

/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.logo {
		transition: 1s;
		margin-left: 30%;
	}
	nav ul, .srch, .get-started{
		display: none;
	}
	.menu {
		display: block;
	}
	nav {
		padding-bottom: 20px;
		border-bottom: 1px solid #0005;
		/* position: fixed; */
		/* top: 0; */
	}
	.quote p, .quote h5, .play {
		justify-content: center;
		text-align: center;
	}
	.quote p {
		font-size: 30px;
	}
	.service-container .right-side img {
		width: 90%;
	}
	.title {
		margin-top: 0px;
	}
	
}
@media screen and (max-width: 700px) {
	footer .btn{
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
	.svg-image img {
		width: 90%;
		margin: 20px;
		/* align-self: center; */
	}
}

@media screen and (max-width: 1000px) {	
	.feedbox form input, .feedbox form .fname{
		width: 100%;
	}
}
.gallery img {
    width: 214px;
    margin: 15px;
    cursor: pointer;
    padding: auto;
    border: 1px solid white;
    background-color: white;
	transition: all 1s ease-in;
}

.gallery img:hover{
    z-index:1;
	transform:scale(2.5);
	border-radius:50%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    background-color: rgba(71, 69, 69, 0.541);*/
    z-index: 10;
}

.popupbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    background-color:rgba(0, 0, 0, 0.7);*/
    height: 70%;
    width: 50%;
    padding: 20px;
    z-index: 99999999999;

}

.popupbox img {
    max-width: 500px;
    margin: 10px 20%;
}

.close {
    position: absolute;
    top: 0;
    left: auto;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
}
/* .gallery
{
	opacity: 66;
background-image:url(../images/imgs/9.jpg);
} */
.gal{
margin-top:10rem;
position:relative;	
}
.gal h1{
justify-content: center;
text-align: center;
font-size: 4rem;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
    display: flex;
    max-width: 650px;
    width: 100%;
    height: 400px;
    background: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	margin-left:30%;
	margin-top:5rem;
	margin-bottom: 2rem;
  }
  .wrapper i.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color: #343f4f;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
  }
  i.button:active {
    transform: scale(0.94) translateY(-50%);
  }
  i#prev {
    left: 25px;
  }
  i#next {
    right: 25px;
  }
  .image-container {
    height: 320px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
  }
  .image-container .carousel {
    display: flex;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
  }
  .carousel img {
    height: auto;
    width: auto;
    border-radius: 18px;
    border: 10px solid #fff;
    object-fit: cover;
  }
  