ul{
          list-style: none;
        }
        .list{
          color: black;
        }
        .list .anchor{
          width: 100%;
          color : lightgray;
          text-decoration: none;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .list .anchor:hover{
          background-color: green;
          color: white;
        }
        .col-md-2{
        /* background-color: rgb(160, 158, 158); */
          background-image: linear-gradient(to top, rgb(44, 43, 43) , rgb(3, 3, 3));

        }
        .site{
              background-image: linear-gradient(to right, rgb(61, 8, 249) , rgb(250, 82, 3));
              padding-left: 40px;
              padding-top: 10px;
              padding-bottom: 10px;
        }
        hr{
          border: 2px solid green;
        }
        /*FOOTER*/
        footer {
          color: #E5E8EF;
          background: #000D;
          padding: 50px 0; 
        }
        footer .footer-container {
          max-width: 1300px;
          margin: auto;
          padding: 0 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap-reverse;
        }
        footer .social-media img{
          width: 22px;
        }
        footer .logo {
          width: 180px;
          color: #fff;
        }
        footer .social-media a{
          margin-right: 10px;
          font-size: 22px;
          text-decoration: none;
        }
        footer .right-col h1{
          font-size: 26px;
        }
        footer .foot-border{
          width: 100px;
          height: 4px;
          background: linear-gradient(to right, #FA4B37, #DF2771);
          margin: 2px;
        }
        footer .newsletter-form {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        }
        footer input::placeholder {
          color: white !important;
        }
        footer .txtb {
          flex: 1;
          padding: 18px 40px;
          font-size: 16px;
          background: #343A40;
          border: none;
          font-weight: 700;
          outline: none;
          border-radius: 5px;
          min-width: 260px;
          margin-top: 20px;
          color: white;
        }
        footer .btn {
          margin-top: 20px;
          padding: 18px 40px;
          font-size: 16px;
          color: #f1f1f1;
          background: linear-gradient(to right, #FA4B37, #DF2771);
          border: none;
          font-weight: 700;
          outline: none;
          border-radius: 5px;
          margin-left: 20px;
          cursor: pointer;
          transition: opacity .3s linear; 
        }
        footer .btn:hover {
          opacity: .7;
        }
        .container-fluid{
          margin-top: 100px;
        }
        .nav{
          position: absolute;
          height: 100px;
        }
.nav ul li a{
    text-decoration: none;
} 